In [1]:
# Import libraries

import warnings
warnings.filterwarnings('ignore')

import requests
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
books = []

# Scrape web pages based on page numbers
for i in range(1,51):
  url = f"https://books.toscrape.com/catalogue/page-{i}.html"
  response = requests.get(url)
  response = response.content
  soup = BeautifulSoup(response, 'html.parser')
  ol = soup.find('ol')
  articles = ol.find_all('article', class_='product_pod')
    
  for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    starTag = article.find('p')
    star = starTag['class'][1]
    price = article.find('p', class_='price_color').text
    price = float(price[1:])
    books.append([title, star, price])

In [3]:
# Format to a dataframe

df = pd.DataFrame(books, columns=['Title', 'Star Rating', 'Price'])
df.tail()

                                                 Title Star Rating  Price
995  Alice in Wonderland (Alice's Adventures in Won...         One  55.53
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)        Four  57.06
997  A Spy's Devotion (The Regency Spies of London #1)        Five  16.97
998                1st to Die (Women's Murder Club #1)         One  53.98
999                 1,000 Places to See Before You Die        Five  26.08

In [4]:
# Save to CSV and Excel file

df.to_csv('Book Ratings and Prices.csv')
df.to_excel('Book Ratings and Prices.xlsx')